#email {
    background-color: var(--reddit-bg-color);
    font: inherit;
    font-size: var(--body-text-size);
    border: none;
    padding: 7.5px 15px;
    outline: none;
    border: 1px solid var(--reddit-grey);
    border-radius: 4px;
}
  
#email::placeholder {
    letter-spacing: 0.5px;
    font-size: var(--body-text-size);
}
  
#email:focus {
    background-color: white;
    border-color: var(--reddit-blue);
}

#name {
    background-color: var(--reddit-bg-color);
    font: inherit;
    font-size: var(--body-text-size);
    border: none;
    padding: 7.5px 15px;
    outline: none;
    border: 1px solid var(--reddit-grey);
    border-radius: 4px;
}
  
#name::placeholder {
    letter-spacing: 0.5px;
    font-size: var(--body-text-size);
}
  
#name:focus {
    background-color: white;
    border-color: var(--reddit-blue);
}